@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ebedee;
  --foreground: #222222;
}

html,
body,
main {
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
}

input:checked + div {
  @apply border-blue;
  @apply bg-light-blue;
}
input:checked + div svg {
  @apply block;
}
